html {
  background-color: #222D49;
  
}

header, main {
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(34, 45, 73, 0.5);
    color: white;
    text-align: right;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0 1em 1em 1em;
}

article .title, article .date {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.0em;
    color: #FFFFFF;
}

article section {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: #FFFFFF;
}